@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
/****************
BASE STYLES
*****************/

body {
    margin: 0;
}

/*************************
HEADER
**************************/

header {
    background-color: rgb(132,151,62);
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    width: 100%;
    padding: 25px 0 10px;
}
h1 {
    margin: 0;
    color: rgb(48,56,17);
}

a:link{
    color: rgb(132,151,62);
}

a:visited {
    color: rgb(198,185,104);
}

a:hover {
    color: rgb(132,151,62);
}

a:active {
    color: rgb(48,56,17);
}


/*******************
MAIN-CONTENT AREA
*******************/

#wrapper {
    width: 1300px;
    margin: 0 auto;
}
section {
    width: 100%;
    margin: 0 auto;
}


/*******************
STATS AREA
*******************/
.stats-area {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255,244,179);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.victory {
    text-align: center;
}



/*******************
GAME AREA
*******************/



/*******************
Cards
*******************/
/*#game-area {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*max-width: 100vw;*/
/*}*/
img {
    width: 80%;
    height: 80%;
}

.card {
    position: relative;
    display: inline-block;
    margin: 10% 7%;
}

.front,
.back {
    height: 300px;
    width: 200px;

}

.back,
.front {
    position: absolute;
    top: 0;
    left: 0;

}

/*.front {*/
    /*position: relative;*/
    /*right: 15px;*/
/*}*/
