@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
/****************
BASE STYLES
*****************/

body,
h1 {
    margin: 0;
}

/*************************
HEADER
**************************/

header {
    background-color: rgb(171,164,87);
    padding: 25px 0 10px;
}

header,
button {
    font-family: 'Baloo Bhai', cursive;
}



/*************************
PSEUDO ELEMENTS
**************************/
a:link{
    color: rgb(199,228,93);
}

a:visited {
    color: rgb(48,56,17);;
}

a:hover {
    color: rgb(132,151,62);
}

a:active {
    color: rgb(198,185,104);
}


/*******************
MAIN-CONTENT AREA
*******************/

#wrapper {
    max-width: 1300px;
    position: relative;
}

header,
section {
    width: 100%;
}

#wrapper,
section {
    margin: 0 auto;
}

button,
.card {
    cursor: pointer;
}

/*******************
STATS AREA
*******************/
.stats-area {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.stats-area,
.stats-area button,
h1,
#about-game-area {
    color: rgb(48,56,17);
}

.stats-area h3 {
    margin: 5px 0;
}

.stats-area h2:first-of-type {
    margin-top: 10px;
}

.win-shout-out,
header,
footer,
.stats-area {
    text-align: center;
}

.win-shout-out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow-y: auto;
    z-index: 100;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    color: rgb(199,228,93);
    font-size: 1.5em;
}

.win-shout-out,
button {
    border-radius: 10px;
}

.stats-area,
footer,
.win-shout-out,
#about-game-area {
    font-family: 'Open Sans', sans-serif;
}

.stats-area,
footer {
    background-color: rgb(255, 244, 179);
}

button {
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: rgb(199,228,93);
    margin-top: 10px;
    z-index: 1000;
}

.win-shout-out button {
    font-size: .75em;
    padding: 5px;
}

/*******************
GAME AREA
*******************/
#game-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

/*******************
Cards
*******************/
img {
    width: 90%;
    height: 90%;
}

.card {
    position: relative;
}

.front,
.back {
    height: 150px;
    width: 100px;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    padding: 25px;
    margin-top: 25px;
}


/*******************
ABOUT PAGE
*******************/

#about-game-area {
    width: 90%;
    margin: 50px auto;
}

#about-game-area p {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.75;
}

#about-game-area img {
    height: 300px;
    width: 200px;
    margin-bottom: 25px;
    border: solid 2px rgb(132,151,62);
    padding: 5px;
}

#about-game-area h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: solid 2px;
    padding-bottom: 20px;
}


/*******************
MEDIA QUERIES
*******************/

@media(min-width: 412px) {
    .front,
    .back {
        height: 187.5px;
        width: 125px;
    }
}

@media(min-width: 517px) and (max-width: 596px) {
    .front,
    .back {
        height: 217.5px;
        width: 145px;
    }
}
@media(min-width: 597px) and (max-width: 616px) {
    .front,
    .back {
        height: 225px;
        width: 150px;
    }
}
@media(min-width: 617px) and (max-width: 634px) {
    .front,
    .back {
        height: 232.5px;
        width: 155px;
    }
}
@media(min-width: 635px) and (max-width: 676px) {
    .front,
    .back {
        height: 247.5px;
        width: 165px;
    }
}
@media(min-width: 677px) and (max-width: 766px) {
    .front,
    .back {
        height: 165px;
        width: 110px;
    }
}
@media(min-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3,
    button {
        font-size: 1.3em;
    }

    nav a {
        font-size: 1.4em;
    }

    div.stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.stats div {
        flex-basis: 25%;
    }

    .flex-section {
        display: flex;
        flex-direction: row;
    }

    .left-col,
    .right-col {
        flex-grow: 2;
    }
}

@media(min-width: 892px) and (max-width: 961px) {
    .front,
    .back {
        height: 202.5px;
        width: 135px;
    }
}
@media(min-width: 962px) and (max-width: 1023px) {
    .front,
    .back {
        height: 217.5px;
        width: 145px;
    }
}

@media(min-width: 1024px) {
    .front,
    .back {
        height: 225px;
        width: 150px;
    }

    #game-area {
        margin-top: 50px;
    }

    footer {
        background-color: transparent;
        margin-top: 100px;
    }
}

@media(min-width: 1067px) and (max-width: 1171px) {
    .front,
    .back {
        height: 247.5px;
        width: 165px;
    }
}
@media(min-width: 1171px) and (max-width: 1241px) {
    .front,
    .back {
        height: 262.5px;
        width: 175px;
    }
}
@media(min-width: 1242px) and (max-width: 1311px) {
    .front,
    .back {
        height: 277.5px;
        width: 185px;
    }
}
@media(min-width: 1312px) and (max-width: 1365px) {
    .front,
    .back {
        height: 285px;
        width: 190px;
    }
}

@media(min-width: 1366px) {

    footer {
        position: static;
        background-color: rgb(255, 244, 179);
    }

    button {
        font-size: 1.2em;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .stats-area {
        flex-basis: 25%;
    }

    #game-area {
        flex-basis: 75%;
    }

    div.stats {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}